<h1>Artist Index</h1>

<% @artists.each do |artist| %>
  <a href="<%= artist_path(artist) %>"><img src="<%= artist.photo_url %>" width="300px"/></a><br/>

  <p><%= artist.name %></p>
  <%= link_to "Edit", edit_artist_path(artist) %>
  
  <%= form_tag artist_path(artist), method: "delete" do %>
    <%= submit_tag("Delete") %>
  <% end %>
  <br/><br/>

<% end %>

<br/>
<%= link_to "Add New Artist", new_artist_path %>