<h1><%= @artist.name %></h1>
<img src="<%= @artist.photo_url %>" width="300px"/>
<p>Genre: <%= @artist.genre %></p>
<h2>Songs:</h2>
<ul>
<% @songs.each do |song| %>
  <li>
    <%= render partial: "songs/song", locals: { song: song } %>
  </li>
<% end %>
</ul>

<br/>
<a href="/artists/<%= @artist.id %>/songs/new">Add Song</a>

<br/>
<a href="/artists">Artists Home</a>