<h2>Update user <%= @user.email %></h2>

<% unless @update_worked %>
  <div id="errors">
    <h3>Errors!</h3>
    <ul>
      <% @user.errors.messages.each do |field,error| %>
        <li><em><%= "#{field.capitalize} #{error.first}!" %></em></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="/users/<%= @user.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>" />
  <input type="hidden" name="_method" value="PUT" />
  <label>
    Email:
    <input type="email" name="email" value="<%= @user.email %>" />
  </label>
  <br/>

  <label>
    Password:
    <input type="password" name="password" />
  </label>
  <br/>

  <label>
    First Name:
    <input type="text" name="first_name" value="<%= @user.first_name %>" />
  </label>
  <br/>

  <label>
    Last Name:
    <input type="text" name="last_name" value="<%= @user.last_name %>" />
  </label>
  <br/>

  <label>
    Date of Birth:
    <input type="date" name="dob" value="<%= @user.dob %>" />
  </label>
  <br/>

  <label>
    Gender:
    <label for="gender_male">M</label>
    <input id="gender_male" type="radio" name="gender" value="M" <%= 'checked="true"' if @user.gender == "M"%> />
    <label for="gender_female">F</label>
    <input id="gender_female" type="radio" name="gender" value="F" <%= 'checked="true"' if @user.gender == "F"%> />
  </label>
  <br/>

  <label>
    Facebook URL:
    <input type="url" name="facebook_link" value="<%= @user.facebook_link %>" />
  </label>
  <br/>

  <button>Save Changes</button>
</form>

<p><a href="/users/<%= @user.id %>">Return to user home.</a></p>