<h2>Create a new user here!</h2>

<% unless @user.nil? || @user.id.nil? %>
  <div id="errors">
    <h3>Errors!</h3>
    <ul>
      <% @user.errors.messages.each do |field,error| %>
        <li><em><%= "#{field.capitalize} #{error.first}!" %></em></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br/>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br/>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br/>

  <%= f.label "Date of Birth" %>
  <%= f.date_field :dob %>
  <br/>

  <%= label_tag("Gender:") %>
  <%= label_tag(:gender_male, "M") %>
  <%= f.radio_button(:gender, "M", checked: @user.gender == "M") %>
  <%= label_tag(:gender_male, "F") %>
  <%= f.radio_button(:gender, "F", checked: @user.gender == "F") %>
  <br />

  <%= f.label :facebook_link %>
  <%= f.url_field :facebook_link %>
  <br/>

  <%= f.submit "Join!" %>
<% end %>